* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #777;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
}

h1 {
  font-size: 1.6em;
}

#game-canvas {
  background: #fff;
  border-radius: 16px;
  border: 1px solid #2e2e2e;
}

.end-game-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 200px;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.15);
  padding: 40px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  text-align: center;
  display: none;
}

.end-game-score {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

button {
  font-family: 'Press Start 2P', cursive;
  background-color: #2e2e2e;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 15px;
  padding: 15px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.25 ease;
  border-radius: 5px;
  border: 1px solid #2e2e2e;
}

button:hover {
  background-color: #333;
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
